body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #2E8B57;
}

h1, h2, h3 {
    color: #2E8B57;
}

a {
    color: #ADD8E6;
    text-decoration: none;
}

a:hover {
    color: #2E8B57;
}
